@use '../../../../scss/mixins';
@use '../../../../scss/variables';

.driver-group-edit {
  width: 100%;
  height: 285px;
  @include mixins.flexbox-start-column;
  margin-top: 10px;
  overflow-y: scroll;
  position: relative;
  z-index: 1;

  h4 {
    width: 100%;
    color: variables.$colour-6;
    margin-bottom: 20px;
    text-align: left;
  }

  .mui-el {
    width: calc(100% - 20px);
    margin-bottom: 20px;
  }
}