@use '../../../scss/mixins';
@use '../../../scss/variables';

.badge {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  cursor: pointer;

  .outer-ring {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    background: white;
    @include mixins.flexbox;
    position: relative;

    .badge-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    .image-error {
      width: 100%;
      height: 100%;
      background: variables.$error;
      @include mixins.flexbox;
  
      p {
        color: white;
        font-size: 12px;
      }
    }
  }

  .edit-button {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background: variables.$mui-blue;
    color: white;
    opacity: 0;
    transition: variables.$trans-speed;

    &:hover {
      background: variables.$mui-blue-hover;
      opacity: 1;
    }
  }
}