@use '../../../scss/mixins';
@use '../../../scss/variables';

.rules-and-regs-picker {
  width: 100%;
  @include mixins.flexbox-start-column;
  background: white;
  padding: 20px 7.5%;
  box-sizing: border-box;

  .rules-and-regs-list {
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 0 4px 20px;
  }
}