@use '../../../../scss/variables';
@use '../../../../scss/mixins';

.icon-counter {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: variables.$shadow-close;
  @include mixins.flexbox;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  background: variables.$mui-blue;

  p {
    width: auto !important;
    color: white !important;
    text-align: center;
    font-size: 12px;
    margin: 2px 1px 0 0 !important;
  }
}