@use '../../../scss/mixins';
@use '../../../scss/variables';

.badge-picker {
  width: 100%;
  @include mixins.flexbox-start-column;
  flex-shrink: 0;
  background: white;

  .badge-list-container {
    width: 100%;
    position: relative;
    flex-grow: 1;
    min-height: 800px;

    .badge-list {
      width: 100%;
      @include mixins.flexbox-start;
      align-items: start;
      flex-flow: wrap;
      overflow-y: scroll;
      padding: 20px 7.5%;
      box-sizing: border-box;
    }

    .list-item {
      @include mixins.flexbox;
    }
  
    .badge-list>.list-item {
      flex: 0 0 16.6%;
      margin-bottom: 10px;
    }
  }

  .badge-picker-spinner-wrapper {
    height: 100%;
    @include mixins.flexbox;
  }
}