@use '../../../../scss/variables';
@use '../../../../scss/mixins';

.badge-filter-draw {
  width: 100%;
  height: 175px;
  position: absolute;
  bottom: -220px;
  background: variables.$colour-1;
  z-index: 10;
  padding: 18px 12px;
  transition: variables.$trans-speed;
  @include mixins.flexbox-space-between-column;
  border-top: 1px solid rgba(0, 0, 0, 0.42);

  .badge-filter-options, .badge-filter-buttons {
    width: 100%;
    box-sizing: border-box;
    padding: 0 22px;

    p {
      font-size: 14px;
    }
  }
  
  .badge-filter-options {
    @include mixins.flexbox-start;
    align-items: start;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .badge-filter-buttons {
    @include mixins.flexbox-space-between;
  }
}

.badge-draw-open {
  bottom: -8px;
}