@use '../../../scss/mixins';
@use '../../../scss/variables';

.logout-card {
  width: 100%;
  background: white;
  @include mixins.flexbox;
  margin-bottom: 2px;
  padding: 20px;
  box-sizing: border-box;
}