@use '../../../scss/keyframes.scss';
@use '../../../scss/mixins.scss';
@use '../../../scss/variables.scss';

.nav-item {
  height: 100%;
  padding: 0 20px;
  @include mixins.flexbox;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background 300ms;

  &:first-child {
    padding-left: 40px;
  }

  &:hover {
    color: black;
  }
}