@use '../../../scss/mixins';

.driver-group-picker {
  width: 100%;
  @include mixins.flexbox-column;
  flex-shrink: 0;
  background: #ffffff;

  .driver-group-list-container {
    width: 100%;
    position: relative;
    flex-grow: 1;

    .driver-group-list {
      width: 100%;
      height: 100%;
      @include mixins.flexbox-start-column;
      overflow-y: scroll;
      padding: 20px 7.5%;
      box-sizing: border-box;
    }
  }
}