@use '../../../../scss/mixins';
@use '../../../../scss/variables';

.driver-group-edit {
  width: 100%;
  @include mixins.flexbox-start-column;
  flex-shrink: 0;
  padding: 20px 7.5%;
  box-sizing: border-box;
  background: white;

  h4 {
    width: 100%;
    color: variables.$colour-6;
    margin-bottom: 40px;
    text-align: left;
  }

  .dropzone {
    width: 60%;
    margin-bottom: 60px !important;
  }
}