@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import "./variables";

h1, h2, h3, h4, h5, h6, p, img {
  margin: 0;
  user-select: none;
  font-weight: 300;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu', sans-serif;
  background: $background;

  #root {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
  }
}